body 
{
margin:0;
background-color:Silver;
height: 100%;
width:100%; 
display:table;
}




.header
{
display:block;
background-color:Black;
height:250px;
}

.header p
{
font-family: Algerian;
Color:grey;
text-decoration:Underline;
text-align:center;
margin:0;
padding-right:800px;
padding-top: 35px;
font-size: 40px;
}

.header img
{
float:left;
margin:0;
}

.menu
{
width: 100%;
height:100px;
position:relative;
background-color: Dimgray;
padding-top:18px;
}

.menu ul
{
float: left;
left:50%;
position:relative;
padding-top: 15px;
margin-left:-60px;
}

.menu ul li
{
margin-left:20px;
float: left;
list-style-type:none;
position:relative;
left:40%;
}

.menu ul li a 
{
text-align:center;
color:white;
text-decoration:none;
display: inline-block;
height:30px;
width:100px;
background-color:Grey;
padding-top:10px;

}

.menu ul li a:hover 
{
color: grey;
background-color:lightblue;
}

h1
{
display:block;
background-color:Gray;
text-align:center;
display:block;
width: 100%;
height:100px;
position:relative;
text-align:center;
margin:0;
font-family: Calibri;
Color:LightSteelBlue;
font-size: 70px;
padding-top: 20px;
}
.contenu p.actu
{
display:block;
position:relative;
margin:0;
font-family: Calibri;
Color:Black;
font-size: 30px;
padding-top: 20px;
padding-left:510px;
width:60%;
}

.contenu img
{
float:left;
width:500px; 
height:300px;
margin:0;
}






.Dcontenu p.rub
{
padding-bottom:20px;
font-size:20px;
}

.Dcontenu ul
{
float:right;
position:relative;
border-width:5px;
border:solid;
border-radius:10px;
margin-top:0;
padding-bottom:50px;
background-color:bisque;
}
.Dcontenu li
{
font-size:15px;
font-family:arial;
color:black;
text-decoration:underline;
text-decoration-color:red;
}
.Dcontenu ul li a
{
text-decoration:none;
color:black;
font-size:30px;
}
.footer
{
background-color:black;
text-align:center;
Color:Gray;
font-family: Arial;
margin:0;
bottom:0;
left:0;
right:0;
height:20px;
display:table-row;
}