body 
{
margin:0;
background-color:Silver;
height: 100%;
width:100%; 
display:table;
}




.header
{
display:block;
background-color:Black;
height:250px;
}

.header p
{
font-family: Algerian;
Color:grey;
text-decoration:Underline;
text-align:center;
margin:0;
padding-right:800px;
padding-top: 35px;
font-size: 40px;
}

.header img
{
float:left;
margin:0;
}

.menu
{
width: 100%;
height:100px;
position:relative;
background-color: Dimgray;
padding-top:18px;
}

.menu ul
{
float: left;
left:50%;
position:relative;
padding-top: 15px;
margin-left:-60px;
}

.menu ul li
{
margin-left:20px;
float: left;
list-style-type:none;
position:relative;
left:40%;
}

.menu ul li a 
{
text-align:center;
color:white;
text-decoration:none;
display: inline-block;
height:30px;
width:100px;
background-color:Grey;
padding-top:10px;

}

.menu ul li a:hover 
{
color: grey;
background-color:lightblue;
}

h1
{
display:block;
background-color:Gray;
text-align:center;
display:block;
width: 100%;
height:100px;
position:relative;
text-align:center;
margin:0;
font-family: Calibri;
Color:LightSteelBlue;
font-size: 70px;
padding-top: 20px;
}
.SOMMES
{
text-align:Center;
font-size:40px;
text-decoration:underline;
text-decoration-color:BLUE ;
background-color:Orange;
}
.contenu
{
text-align:center;
padding-top:80px;
font-size:25px;
}
.Autrepages
{
height:100px;
position:relative;
}

.Autrepages ul
{
float: left;
left:40%;
position:relative;
padding-top: 15px;
}

.Autrepages ul li
{
margin-left:20px;
position:relative;
}

.Autrepages ul li a 
{
text-align:center;
color:Black;
text-decoration:none;
font-size:30px;
height:30px;
width:100px;
padding-bottom:30px;
}

.Autrepages ul li a:hover 
{
color:Black;
background-color:Orange;
}



.footer
{
background-color:black;
text-align:center;
Color:Gray;
font-family: Arial;
margin:0;
bottom:0;
left:0;
right:0;
height:20px;
display:table-row;
}