body 
{
margin:0;
background-color:Silver;
height: 100%;
width:100%; 
display:table;
}




.header
{
display:block;
background-color:Black;
height:250px;
}

.header p
{
font-family: Algerian;
Color:grey;
text-decoration:Underline;
text-align:center;
margin:0;
padding-right:800px;
padding-top: 35px;
font-size: 40px;
}

.header img
{
float:left;
margin:0;
}

.menu
{
width: 100%;
height:100px;
position:relative;
background-color: Dimgray;
padding-top:18px;
}

.menu ul
{
float: left;
left:50%;
position:relative;
padding-top: 15px;
margin-left:-60px;
}

.menu ul li
{
margin-left:20px;
float: left;
list-style-type:none;
position:relative;
left:40%;
}

.menu ul li a 
{
text-align:center;
color:white;
text-decoration:none;
display: inline-block;
height:30px;
width:100px;
background-color:Grey;
padding-top:10px;

}

.menu ul li a:hover 
{
color: grey;
background-color:lightblue;
}

h1
{
display:block;
background-color:Gray;
text-align:center;
display:block;
width: 100%;
height:100px;
position:relative;
text-align:center;
margin:0;
font-family: Calibri;
Color:LightSteelBlue;
font-size: 70px;
padding-top: 20px;
}

.Histoire
{
text-align:Center;
font-size:40px;
text-decoration:underline;
text-decoration-color:BLUE ;
background-color:Green;
}
H2
{
text-align:center;
color:red;
font-size:30px;
font-style:italic;
}
.Pcontenu p.first
{
font-family:Calibri;
font-size:22px;
}

.Pcontenu img
{
width:500px;
height:500px;
padding-left:38%;
}

.Pcontenu p.comimg1
{
font-size:18px;
padding-left:38%;
text-decoration:underline;
text-decoration-color:red;
}
H3
{
text-align:center;
color:red;
font-size:30px;
font-style:italic;
}
.dcontenu p.ensuite
{
font-family:Calibri;
font-size:22px;
}
H4
{
text-align:center;
color:red;
font-size:30px;
font-style:italic;
}

.tcontenu p.apres
{
font-family:Calibri;
font-size:22px;
}
.tcontenu p.nesimg
{
font-size:18px;
padding-left:38%;
text-decoration:underline;
text-decoration-color:red;
}
.tcontenu img
{
width:500px;
height:500px;
padding-left:38%;
}
.tcontenu p.apres2
{
font-family:Calibri;
font-size:22px;
}
H5
{
text-align:center;
color:red;
font-size:30px;
font-style:italic;
}

.perso p.intromario
{
font-size:18px;
padding-left:38%;
text-decoration:underline;
text-decoration-color:red;
}
.perso img
{
width:500px;
height:500px;
padding-left:38%;
}
.perso p.commario
{
font-family:Calibri;
font-size:22px;
}


.perso2 p.introzelda
{
font-size:18px;
padding-left:38%;
text-decoration:underline;
text-decoration-color:red;
}
.perso2 img
{
width:500px;
height:500px;
padding-left:38%;
}
.perso2 p.comzelda
{
font-family:Calibri;
font-size:22px;
}
.perso3 p.intropac
{
font-size:18px;
padding-left:38%;
text-decoration:underline;
text-decoration-color:red;
}
.perso3 img
{
width:500px;
height:500px;
padding-left:38%;
}
.perso3 p.compac
{
font-family:Calibri;
font-size:22px;
}
.footer
{
background-color:black;
text-align:center;
Color:Gray;
font-family: Arial;
margin:0;
bottom:0;
left:0;
right:0;
height:20px;
display:table-row;
}