body 
{
margin:0;
background-color:Silver;
height: 100%;
width:100%; 
display:table;
}




.header
{
display:block;
background-color:Black;
height:250px;
}

.header p
{
font-family: Algerian;
Color:grey;
text-decoration:Underline;
text-align:center;
margin:0;
padding-right:800px;
padding-top: 35px;
font-size: 40px;
}

.header img
{
float:left;
margin:0;
}

.menu
{
width: 100%;
height:100px;
position:relative;
background-color: Dimgray;
padding-top:18px;
}

.menu ul
{
float: left;
left:50%;
position:relative;
padding-top: 15px;
margin-left:-60px;
}

.menu ul li
{
margin-left:20px;
float: left;
list-style-type:none;
position:relative;
left:40%;
}

.menu ul li a 
{
text-align:center;
color:white;
text-decoration:none;
display: inline-block;
height:30px;
width:100px;
background-color:Grey;
padding-top:10px;

}

.menu ul li a:hover 
{
color: grey;
background-color:lightblue;
}
h1
{
display:block;
background-color:Gray;
text-align:center;
display:block;
width: 100%;
height:100px;
position:relative;
text-align:center;
margin:0;
font-family: Calibri;
Color:LightSteelBlue;
font-size: 70px;
padding-top: 20px;
}
.ACT img
{
padding-left:38%;
}
.sortijeu p.intro
{
text-align:center;
font-family:Calibri;
font-size:35px;
}
.sortijeu li 
{
font-size:30px;
font-style:italic;
font-family:Arial;
text-decoration:underline;
text-decoration-color:red;
}
.sortijeu p.assassin
{
font-size:25px;
font-style:calibri;
font-family:Calibri;
}




.sortijeu p.council
{
font-size:25px;
font-style:calibri;
font-family:Calibri;
}


.sortijeu p.Farm
{
font-size:25px;
font-style:calibri;
font-family:Calibri;
}

.sortijeu p.Raven
{
font-size:25px;
font-style:calibri;
font-family:Calibri;
}




.commentaires p
{
font-size:30px;
font-family:ALGERIAN;
Color:Sienna;
text-decoration:Underline;
}
.footer
{
background-color:black;
text-align:center;
Color:Gray;
font-family: Arial;
margin:0;
bottom:0;
left:0;
right:0;
height:20px;
display:table-row;
}